<body>

  <h1>Angular Form Validation</h1>

  <form [formGroup]="form"(ngSubmit)="submit()">

    <div class="form-group">
<label for="uname">USERNAME</label>
<input
formControlName="uname"
id="uname"
type="text"
class="form-control">

<div *ngIf="f['uname'].touched && f['uname'].invalid" class="alert alert-danger">
<div *ngIf="f['uname'].errors && f['uname'].errors['required']">
NAME IS MANDATORY PLEASE TYPE !!!
</div> 
  <div *ngIf="f['uname'].errors && f['uname'].errors['minlength']">
    MINIMUM LENGTH MUST BE 3 CHARACTERS !!!
    </div> 
</div>
</div>


<div class="form-group">
  <label for="email">USER-EMAIL</label>
  <input
  formControlName="email"
  id="email"
  type="text"
  class="form-control">
<div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
  <div *ngIf="f['email'].errors && f['email'].errors['required']">
  EMAIL IS MANDATORY PLEASE TYPE !!!
  </div> 
  <div *ngIf="f['email'].errors && f['email'].errors['email']">
    PLEASE TYPE PROPER EMAIL FORMAT WITH @ SYMBOL !!!
    </div> 
    </div>
  </div>

  <div class="form-group">
    <label for="body">USER-EMAIL</label>
    <input
    formControlName="body"
    id="body"
    type="text"
    class="form-control">
  <div *ngIf="f['body'].touched && f['body'].invalid" class="alert alert-danger">
    <div *ngIf="f['body'].errors && f['body'].errors['required']">
    BODY IS MANDATORY PLEASE TYPE !!!
    </div> 
    <div *ngIf="f['body'].errors && f['body'].errors['maxlength']">
      BODY MUST HAVE MAXLENGTH WITHIN 5 CHARACTERS!!!
      </div> 
      </div>
    </div>
  <BR><BR>
    <button class="btn btn-primary" [disabled]="form.invalid" type="submit">PRESS TO SUBMIT</button>
  
  </form>

</body>